@import '../../assets/styles/variables.scss';

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: rgb(62, 62, 70);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        text-align: center;
    }

    &__logo {
        width: 100px;
    }
}

.navbar__wrap {
    display: flex;
    width: 100%;
    padding: 16px 0;
}

.menu {
    display: flex;
    justify-content: end;
    flex: 1 1 50%;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-left: 40px;
    }

    &__link {
        @include animationLink($light-dark, $red)
    }
}